.style-card:nth-child(16) {
	background-color: rgb(255, 132, 115);
}

.style-card:nth-child(28) {
	background-color: rgb(255, 132, 115);
}

.style-card:nth-child(21) {
	background-color: rgb(255, 132, 115);
}
.style-card:nth-child(35) {
	background-color: rgb(255, 132, 115);
}
