.filter-spacing {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.filter-spacing:first-child {
  margin-left: 0;
}
.checkbox input[type="checkbox"] {
  opacity: 0;
}
.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: "";
  display: inline-block;
}
.checkbox label::before {
  height: 16px;
  width: 16px;
  border: 1px solid;
  border-color: #e2e8f0 !important;
  left: 0px;
  top: 3px;
  border-radius: 0.25rem;
}
.checkbox label::after {
  height: 5px;
  width: 9px;
  border-left: 1.5px solid #ffffff;
  border-bottom: 1.5px solid #ffffff;
  transform: rotate(-45deg);
  left: 4px;
  top: 7px;
}
.checkbox input[type="checkbox"] + label::after {
  content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
}
.checkbox input[type="checkbox"]:checked + label::before {
  background-color: blue;
  border-color: blue !important;
}
