@import url("https://fonts.googleapis.com/css?family=Jomolhari|Roboto:400,700,900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');
.font-roboto {
	font-family: "Roboto", sans-serif;
}
.font-poppins {
	font-family: 'Poppins', sans-serif;
}

.category-card:nth-child(4n) {
	margin-right: 0;
}
.category-card:first-child {
	margin-left: 0;
}
.button:first-child {
	margin-left: 0 !important;
}
.button:last-child {
	margin-right: 0 !important;
}
.mix-blend-difference {
	mix-blend-mode: difference;
}
input[type="checkbox"]:checked::after {
	content: "";
	display: block;
	position: absolute;
	width: 50%;
	height: 50%;
	background-color: #000000;
	transform: translate(50%, 50%);
}
html {
	overflow: scroll;
	overflow-x: hidden;
}
::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}
